body {
  background-color: #333024;
  color:  beige;
  font-family: "PT Sans", sans-serif;
  padding: 3%;
  padding-top: 20px;
  font-size: 1em;
}

ul, ol {
  list-style-type: none;
  padding:  0;
}

h1 {
  font-size: 2em;
  font-style: italic;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-size: 1.75em;
  margin: 0;
}

#app {
}

/* Don's freelancing */
#main-menu li {
  display: inline;
}

.little-title {
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}

/* From Treat Map  */

.lightbox {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(assets/overlay.png) repeat;
  z-index: 99;
}

/* shared styles for journal and credits popups, specific styles in FullEntry.vue and Credits.vue */
#slimpop-wrapper {
  background-color: beige;  
  border: 1px solid gray;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
  color: black;
  overflow:  auto;
  padding: 2em;
  position: relative;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #ff7f00;
  text-decoration: underline;
}
